#profilepic {
  max-width: 30%;
  height: 200;
  border-radius: 20px;
  object-fit: cover;
  object-position: bottom;
  padding-top: 10px;
  padding-bottom: 20px;
}

.button {
  background-color: red;
  color: white;
  padding: 25px 25px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.column {
  float: inline-start;
  width: 50%;
  padding: 20px;
  height: 250px;
}

.grid {
  float: left;
  width: 30%;
  padding: 10px;
}

.grid img {
  margin-top: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

::marker {
  color: green;
}

thead {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

td {
  text-align: center;
}

tr:nth-child(even) {
  background-color: skyblue;
}

thead:nth-child(odd) {
  background-color: skyblue;
}
